/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/

.Rectangle-Copy-5 {
  background-color: #fcce00;
  color: #fff;
  font-size: 88px;
  font-weight: 900;
  font-family: Poppins semi-bold;
  text-align: center;
  margin: 0 0 8px;
}

.Rectangle-Copy-6 {
background-color: #ff6b00;
color: #fff;
font-size: 38px;
font-weight: 900;
font-family: Poppins medium;
text-align: center;
margin: 8px 0;
}

.Rectangle-Copy-2 {
  height: 32px;
  background-color: #e02020;
  width: 1440px;
  height: 32px;
  margin: 0 0 8px;
  }

  .Rectangle-Copy-8 {
    height: 16px;
    background-color: #b620e0;
    width: 1440px;
    margin: 8px 0 0;
    }

  .Rectangle-Copy-9 {
    background-color: #6236ff;
    margin: 8px 0 0;
    width: 1440px;
    height: 8px;
    }

.section-title {
  width: 993px;
  height: 56px;
  margin: 64px 216px 64px 229px;
  font-family: Poppins semi-bold;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #231f20;
}
.titre1 {
  width: 640px;
  height: 33px;
  margin: 0 31px 34px 0;
  font-family: Poppins light;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #231f20;
}
.body{
  align-items: center;
}
.description{
  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 0;
  font-family: Poppins-ExtraLight;
  font-size: 16px;
  text-align: justify;
  color: #231f20;
}
.bouton1 {
  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 0;
  font-family: Poppins-ExtraLight;
  font-size: 16px;
  text-align: justify;
  color: #231f20;
}
.title1 {
  width: auto;
  height: auto;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
}

.bloc-title{
  display: flex;
  margin: 8px 8px 8px 8px;
}
.bloc-1 {
  display: flex;
}

.titre1 {
  width: 640px;
  height: 33px;
  margin: 0 31px 34px 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
}

.When-youre-ready-fo {
  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #231f20;
}

/**
* ----------
* Components
* ----------
*/